/*Colors*/
@font-face {
  font-family: 'akkurat-bold';
  src: url("http://info.ambwork.com/fonts/akkurat-bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: 'akkurat-light';
  src: url("http://info.ambwork.com/fonts/akkurat-light.ttf");
}
@font-face {
  font-family: 'akkurat-normal';
  src: url("http://info.ambwork.com/fonts/akkurat-normal.ttf");
  font-weight: normal;
}
html {
  font-family: akkurat-bold, sans-serif;
  color: #97999b;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
}
p {
  font-size: 1em;
  line-height: 1.6;
}
h2 {
  font-size: 1.5em;
  line-height: 1.6;
  color: #666768;
}
a {
  color: #97999b;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  -ms-transition: color 0.3s;
  transition: color 0.3s;
}
a:hover {
  color: #666768;
}
small {
  font-size: 0.8em;
  line-height: 1.1;
  font-family: akkurat-normal, sans-serif;
}
.byline {
  padding: 100px 0;
  text-align: center;
}
section {
  padding: 100px 75px 100px 75px;
}
section.gray-bg {
  background: #eee;
}
#top {
  padding: 1px 75px;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -ms-transition: all 0.25s;
  transition: all 0.25s;
  min-height: 100vh;
}
#top .container {
  min-height: 100vh;
}
#top .project-text {
  padding: 0 0 200px 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.container {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
}
.container img {
  max-width: 100%;
}
.project-text {
  position: relative;
  padding: 100px 0;
  max-width: 470px;
}
.project-text h2,
.project-text p,
.project-text small {
  padding: 0 0 10px 0;
}
.media-container {
  position: relative;
  padding-bottom: 50px;
}
.media-container div[class^='wistia_branding'] {
  border: 2px solid #00f !important;
}
.nav-container {
  position: absolute;
  left: -75px;
}
.nav {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 30px;
  width: 30px;
  border: 1px solid #e4e4e4;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  padding-top: 4px;
  margin-top: 10px;
}
.nav.down-arrow {
  border: 0;
  opacity: 0.3;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
  position: absolute;
  bottom: 100px;
  left: 0;
  border-color: rgba(102,103,104,0.2);
  background-image: url("http://assets.ambwork.com/img/down-arrow.png");
  background-repeat: no-repeat;
  -webkit-background-size: 20px;
  -moz-background-size: 20px;
  background-size: 20px;
  background-position: 50% 50%;
  -webkit-animation: arrow-down 5s infinite ease;
  -moz-animation: arrow-down 5s infinite ease;
  -o-animation: arrow-down 5s infinite ease;
  -ms-animation: arrow-down 5s infinite ease;
  animation: arrow-down 5s infinite ease;
}
.nav-container-1 {
  top: 113.5px;
}
.project-1 .nav {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.project-1 .nav-1 {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.nav-container-2 {
  top: 73.5px;
}
.project-2 .nav {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.project-2 .nav-2 {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.nav-container-3 {
  top: 33.5px;
}
.project-3 .nav {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.project-3 .nav-3 {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.nav-container-4 {
  top: -6.5px;
}
.project-4 .nav {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.project-4 .nav-4 {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.nav-container-5 {
  top: -46.5px;
}
.project-5 .nav {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.project-5 .nav-5 {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.nav-container-6 {
  top: -86.5px;
}
.project-6 .nav {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.project-6 .nav-6 {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.nav-container-7 {
  top: -126.5px;
}
.project-7 .nav {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.project-7 .nav-7 {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.nav-container-8 {
  top: -166.5px;
}
.project-8 .nav {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.project-8 .nav-8 {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.nav-container-9 {
  top: -206.5px;
}
.project-9 .nav {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.project-9 .nav-9 {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.nav-container-10 {
  top: -246.5px;
}
.project-10 .nav {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.project-10 .nav-10 {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.turn-on-vid {
  display: none;
}
#pf .turn-on-vid {
  display: block;
  position: absolute;
  top: 37%;
  left: calc(50% - 30px);
  width: 120px;
  height: 80px;
  background-image: url("http://assets.ambwork.com/img/sound-off.png");
  background-image: url("http://assets.ambwork.com/img/sound.png");
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  cursor: pointer;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
}
#pf .turn-on-vid.volume-on {
  background-image: url("http://assets.ambwork.com/img/sound-off.png");
  width: 60px;
  height: 40px;
  left: calc(100% - 80px);
  top: 20px;
}
#pf .media-container:hover .turn-on-vid {
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
}
#pf .media-container:hover .turn-on-vid:hover {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.fadein {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  transition-duration: 0.8s;
  -webkit-transition-property: opacity, -webkit-transform;
  -moz-transition-property: opacity, -moz-transform;
  -o-transition-property: opacity, -o-transform;
  -ms-transition-property: opacity, -ms-transform;
  transition-property: opacity, transform;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -o-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}
.delay-1 {
  -webkit-transition-delay: 0.4s;
  -moz-transition-delay: 0.4s;
  -o-transition-delay: 0.4s;
  -ms-transition-delay: 0.4s;
  transition-delay: 0.4s;
}
.delay-2 {
  -webkit-transition-delay: 0.7s;
  -moz-transition-delay: 0.7s;
  -o-transition-delay: 0.7s;
  -ms-transition-delay: 0.7s;
  transition-delay: 0.7s;
}
.delay-3 {
  -webkit-transition-delay: 1s;
  -moz-transition-delay: 1s;
  -o-transition-delay: 1s;
  -ms-transition-delay: 1s;
  transition-delay: 1s;
}
.opacity {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
@media (max-width: 1000px) {
  .project-text {
    max-width: none;
  }
  .nav-container {
    display: none;
  }
}
@media (-webkit-min-device-pixel-ratio: 2) and (max-width: 1000px), (min-resolution: 192dppx) {
  html {
    font-size: 200%;
  }
  .nav.down-arrow {
    -webkit-background-size: 40px;
    -moz-background-size: 40px;
    background-size: 40px;
  }
}
@-moz-keyframes arrow-down {
  0% {
    bottom: 115px;
  }
  30% {
    bottom: 100px;
  }
  60% {
    bottom: 115px;
  }
  100% {
    bottom: 115px;
  }
}
@-webkit-keyframes arrow-down {
  0% {
    bottom: 115px;
  }
  30% {
    bottom: 100px;
  }
  60% {
    bottom: 115px;
  }
  100% {
    bottom: 115px;
  }
}
@-o-keyframes arrow-down {
  0% {
    bottom: 115px;
  }
  30% {
    bottom: 100px;
  }
  60% {
    bottom: 115px;
  }
  100% {
    bottom: 115px;
  }
}
@keyframes arrow-down {
  0% {
    bottom: 115px;
  }
  30% {
    bottom: 100px;
  }
  60% {
    bottom: 115px;
  }
  100% {
    bottom: 115px;
  }
}
